<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Gallery
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/search">
                Search
            </NavLink>
        </div>
    </nav>
</div>

