@page "/about"

<PageTitle>About | TrackTaro</PageTitle>

<div class="about-page container mt-5 ml-5">
    <h1>About TrackTaro</h1>

    <br>
    <p>
        TrackTaro (Trackთარო) is a personal project developed by me, Giorgi Tevdoradze. It is a showcase of my physical music collection to view, manage and maybe boast about. 
    </p>
    <p>
        The name TrackTaro consists of “track” - as in music track and “taro” - meaning shelf in Georgian. Think of this as a nice digital music shelf.
    </p>
    <p>
        It is developed full stack in C#. The project is built using .NET 8, Blazor, and Entity Framework Core.
    </p>

    <br>
    <h3>Here are some links:</h3>
    <ul>
        <li>
            <a href="https://github.com/tevdoradzeg/TrackTaro" target="_blank">tevdoradzeg/TrackTaro</a>
        </li>
    </ul>
</div>